
body{ 
  font-family: Helvetica;
  font-size: 16pt;
  color: #999886;
  margin: 0px;
  padding: 0px;
}

#fendiv {
  overflow: scroll;
}
.content-box {
  max-width: 1000px;
  margin: 0 auto;
}

.board{
  width: 400px;
}
.status-box {
  background-color: #eee;
  margin: 0px;
  padding: 16px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.board-box {
  display: flex;
  flex-wrap: wrap;
  width: 616px;
  margin: 10 auto;
}
.pgn-box {
  margin-left: 16px;
  font-family: courier;
  font-size: 12pt;
  height: 400px;
  width: 200px;
  overflow: scroll;
}

#welcome-box {
  display: flex;
  flex-wrap: none;
  margin: 16 auto;
}
#welcome-left {
  width: 45%;
  padding-right: 16px;
}

#welcome-right {
  border-left: solid 1px #aaa;
  margin-left: 16px;
  padding-left: 16px;
  width: 45%;
}

#new-game-button, #join-game-button, #join-code-text {
  padding: 16px;
  margin-top: 16px;
  font-size: 16pt;
  width: 100%;
}
