@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
body{ 
  font-family: Helvetica;
  font-size: 16pt;
  color: #999886;
  margin: 0px;
  padding: 0px;
  //background: url("../img/pawn-background.svg") fixed no-repeat;
}

#fendiv {
  overflow: scroll;
}
.content-box {
  max-width: 1000px;
  margin: 0 auto;
}

.board{
  width: 400px;
}
.status-box {
  background-color: #eee;
  margin: 0px;
  padding: 16px;
  border: solid 1px #ccc;
  border-radius: 5px;
}
.board-box, fen-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 10 auto;
}

#action-box{
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-family: courier;
  font-size: 12pt;
  height: 387px;
  flex-grow: 1;
  //max-width: 320px;
  border: solid #ccc 5px;
}
.pgn-box, .chat-box {
  overflow: scroll;
  background: #fff;
  padding: 6px;
}

#welcome-box {
  display: flex;
  flex-wrap: none;
  margin: 16 auto;
}

#welcome-left {
  width: 45%;
  padding-right: 16px;
}

#welcome-right {
  border-left: solid 1px #aaa;
  margin-left: 16px;
  padding-left: 16px;
  width: 45%;
}

#new-game-button, #join-game-button, #join-code-text {
  padding: 16px;
  margin-top: 16px;
  font-size: 16pt;
  width: 100%;
}

#create-game-box, #create-game-form, #game-created-box {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 6px auto;
  padding: 16px;
}

#create-game-box, #game-created-box {
  border: dashed #aaa 1px;
  border-radius: 15px;
}
.cg-row{
  display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}
.cg-label, .cg-input {
	margin: 16px;
	font-size: 16pt;
}
.cg-label {
  width: 30%;
	text-align: right;
}
.cg-input {
  padding: 6px;
}

#generate-game-button, #cancel-generate-game-button {
  width: 100px;
	padding: 6px;
	font-size: 16pt;
	margin-top: 32px;
}

#i-will-play-white{
  transform: scale(2);
}

#start-game-row, #error-ok-row{
  justify-content: flex-end;
  margin-right: 64px;
  margin-bottom: 32px;
  margin: 32px;
  align-items: center;
}
#start-game-box, #error-ok-box {
  margin-left: 32px;
}
#start-game-button{
  padding: 6px;
  font-size: 16pt;
}
.ok-cancel-row {
  justify-content: space-around;
}
.header{
  font-size: 24pt;
	border-bottom: solid #ccc 1px;
	margin-bottom: 6px;
	width: 100%;
}

#send-link-heading {
  font-weight: bold;
  font-size: 12pt;
}

#chat-input {
  width: 100%;
  height: 100%;
}

toolbar {
  display: flex; 
  background-color: #fff;
	flex-wrap: nowrap;
	padding-bottom: 0px;
  border: solid #ccc 1px;
}

toolbar-button{
   margin: 6px;
	 padding: 6px;
	 background-color: #fff;
	 margin-bottom: 0px;
	 cursor: pointer;
}
toolbar-button:hover{
  background-color: #eee;
}

.toolbar-button-selected {
  background-color: #ddd;
}

chat-box{
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 100%;
}

chat-history{
  flex-grow: 1;
	padding: 6px;
	background: #fff;
  border: solid #ccc 1px;
  max-height: 280px;
  overflow-y: scroll;
}
chat-footer{
	height: 35px;
	line-height: 35px;
	padding: 6px;
	border: solid #ccc 1px;
	background: #fff;
	margin-top: 6px;
	display: flex;
	flex-direction: row;
}

chat-input-box{
  flex-grow: 1;
}

#chat-submit {
  height: 100%;
}
